body{
    background-color:yellow ;
    color: blue;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

#caixa{
    background-color: blue;
    color: yellow;
    
}

label{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
}



