body{
    background-image: url(./cadeado.png);
    background-repeat: no-repeat ;
    background-size: cover
}

h1{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

label{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 30px;

}

#tamanhoSenha{
    background-color: green;
    color: aliceblue;
}

.btn{
    display: flex;
    justify-content: center;   
    
}

p{
    color: aliceblue;
    display: flex;
    justify-content: center;
}